<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul navigation class="nav metismenu" id="side-menu"></ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <span minimalize-sidebar></span>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a ui-sref="auth.logout">
                            <i class="fa fa-sign-out"></i> Log out
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="wrapper wrapper-content animated fadeInRightBig">
            <div ui-view></div>
        </div>

        <div class="footer">
            <div>
                Joy Global &copy; <span current-date="yyyy"></span>
            </div>
        </div>
    </div>
</div>
