<div class="ibox">
    <div class="ibox-content">
        <div class="text-center" ng-if="loading == true">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <div ng-if="loading == false">
            <label for="machineId" class="control-label">Downtime for Machine: </label>
            <select name="repeatSelect" id="machineId" ng-model="machine.id">
                <option ng-repeat="machine in machines" value="{{machine.id}}">{{machine.name}}</option>
            </select>

            <button type="button" ng-click="generateGraphs()" class="btn btn-primary btn-block"> Show Graph </button>
        </div>
    </div>
</div>

<div class="ibox" ng-if="displayGraphs == true">
    <div ng-if="displaySystemGraph == true">
        <div class="highchart" config="systemGraph"></div>
    </div>

    <div ng-if="displayReasonGraph == true">
        <div class="highchart" config="reasonGraph"></div>
    </div>
</div>