<li class="nav-header">
    <div class="profile-element text-center text-white">
        <img alt="Joy Global Logo" class="img-responsive center-block logo-img"
             src="/img/logo.png">

        <div class="block m-t">
            <strong class="font-bold">
                {{ user.primary.name }}
            </strong>
        </div>
    </div>
    <div class="logo-element">
        JG
    </div>
</li>

<li ui-sref-active="active">
    <a ui-sref="administrator-index">
        <i class="fa fa-fw fa-th-large"></i>
        <span class="nav-label">
            Home
        </span>
    </a>
</li>
<li ui-sref-active="active">
    <a ui-sref="administrator-administrators-index">
        <i class="fa fa-fw fa-users"></i>
        <span class="nav-label">
            Administrators
        </span>
    </a>
</li>
<li ui-sref-active="active">
    <a ui-sref="administrator-domainExperts-index">
        <i class="fa fa-fw fa-users"></i>
        <span class="nav-label">
            Domain Experts
        </span>
    </a>
</li>
<li ui-sref-active="active">
    <a ui-sref="administrator-technicians-index">
        <i class="fa fa-fw fa-users"></i>
        <span class="nav-label">
            Technicians
        </span>
    </a>
</li>