<table class="table">
    <thead>
    <tr>
        <th>Admin ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="administrator in administrators">
        <td>{{ administrator.id }}</td>
        <td>{{ administrator.name }}</td>
        <td>{{ administrator.email }}</td>
        <td>
            <a ui-sref="administrator-administrators-view({ id: administrator.id })" class="btn btn-primary btn-block">View</a>
        </td>
    </tr>
    </tbody>
</table>

<pre>{{ administrator | json }}</pre>