<div class="ibox">
    <div class="ibox-title">
        <h5>Controls<span ng-if="loading == true"> (loading...)</span></h5>
    </div>
    <div class="ibox-content">
        <div class="text-center" ng-if="loading == true">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <div ng-if="loading == false">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Machine</label>

                    <ui-select ng-model="selectedMachine" theme="bootstrap" sortable="true" class="m-b-sm"
                               on-select="setMachine($item, $model)">
                        <ui-select-match placeholder="Select machine...">
                            {{$select.selected.name}} [{{$select.selected.model.name}}]
                        </ui-select-match>
                        <ui-select-choices repeat="machine in machines | filter: $select.search">
                            <span ng-bind-html="machine.name | highlight: $select.search"></span>
                            [<span ng-bind-html="machine.model.name | highlight: $select.search"></span>]
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-4">
                    <label class="control-label">Technician</label>

                    <ui-select ng-model="selectedTechnician" theme="bootstrap" sortable="true" class="m-b-sm"
                               on-select="setTechnician($item)">
                        <ui-select-match placeholder="Select technician...">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="technician in technicians | filter: $select.search">
                            <span ng-bind-html="technician.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-4">
                    <label class="control-label" for="time">Inspection Time</label>

                    <div class="dropdown">
                        <div class="dropdown-toggle time-toggle-select" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       data-ng-model="inspection.timeScheduled"
                                       mo-date-input="DD/MM/YYYY HH:mm" id="time">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <ul class="dropdown-menu" role="menu">
                            <datetimepicker data-ng-model="inspection.timeScheduled"
                                            data-datetimepicker-config="{ dropdownSelector: '.time-toggle-select', startView:'day', minView:'minute', modelType: 'moment' }"></datetimepicker>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ibox">
    <div class="ibox-title">
        <h5>Assemblies<span ng-if="loading == true"> (loading...)</span></h5>
        <span class="pull-right">
            {{ scheduledTests }} test<span
                ng-if="scheduledTests != 1">s</span> to be performed on {{ scheduledSubAssemblies }} sub assembl<span
                ng-if="scheduledSubAssemblies != 1">ies</span><span ng-if="scheduledSubAssemblies == 1">y</span>.
        </span>
    </div>
    <div class="ibox-content">
        <div class="text-center" ng-if="loading == true">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <div ng-if="loading == false">
            <table class="table table-striped table-bordered table-middle table-transparent">
                <thead>
                <tr>
                    <th class="text-center" style="width: 40%;" rowspan="2">Sub
                        Assembly
                    </th>
                    <th class="text-center" style="width: 45%;" colspan="3">Tests To Be
                        Performed
                    </th>
                    <th class="text-center" style="width: 15%;" rowspan="2">Test</th>
                </tr>
                <tr>
                    <th class="text-center" style="width: 15%;">Machine General</th>
                    <th class="text-center" style="width: 15%;">Oil</th>
                    <th class="text-center" style="width: 15%;">Wear</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="majorAssembly in selectedMachine.model.majorAssemblies">
                    <td class="text-center table-header-row" colspan="4">{{ majorAssembly.name }}</td>
                    <td class="table-header-row">
                        <button type="button" class="btn btn-sm btn-block btn-primary"
                                ng-click="toggleMajorAssembly(majorAssembly.id)">
                            <i class="fa fa-fw fa-angle-down"></i>
                            Toggle All
                        </button>
                    </td>
                </tr>
                <tr ng-repeat="subAssembly in majorAssembly.subAssemblies">
                    <td class="text-center">{{ subAssembly.name }}</td>
                    <td class="text-center">
                        <span ng-if="subAssembly.machineGeneral == true">
                            <i class="fa fa-fw fa-check"></i>
                        </span>
                    </td>
                    <td class="text-center">
                        <span ng-if="subAssembly.oil == true">
                            <i class="fa fa-fw fa-check"></i>
                        </span>
                    </td>
                    <td class="text-center">
                        <span ng-if="subAssembly.wear == true">
                            <i class="fa fa-fw fa-check"></i>
                        </span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-block"
                                ng-class="{true: 'btn-success', false: 'btn-white'}[inspection.selectedMajorAssemblies[majorAssembly.id][subAssembly.id] == true]"
                                ng-click="toggleSubAssembly(majorAssembly.id, subAssembly.id)">
                            <span ng-if="inspection.selectedMajorAssemblies[majorAssembly.id][subAssembly.id] == true">
                                <i class="fa fa-fw fa-check"></i>
                                Yes, Test
                            </span>
                            <span ng-if="inspection.selectedMajorAssemblies[majorAssembly.id][subAssembly.id] == false">
                                <i class="fa fa-fw fa-remove"></i>
                                No, Don't Test
                            </span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>