<h1>{{machine.name}}
    <small>{{machine.model.name}}</small>
</h1>
<table class="table">
    <thead>
    <th>Inspection Date</th>
    <th>Technician</th>
    </thead>
    <tbody>
    <td>
        <input type="date" class="ui-datepicker" ng-model="inspection.timeScheduled" required/>
    </td>
    <td>
        <select ng-model="selectedTechnician" class="form-control">
            <option ng-repeat="technician in technicians">{{technician.name}}</option>
        </select>
    </td>
    </tbody>
</table>
<hr/>
<div ng-repeat="majorAssembly in machine.model.majorAssemblies">
    <h3>{{majorAssembly.name}}</h3>
    <ui-select multiple  theme="bootstrap" sortable="true"
               close-on-select="false" ng-model="selectedSubAssemblies" class="m-b-sm" click="addToList($item)">
        <ui-select-match placeholder="Select Sub Assemblies..."  >{{$item.id}}
            {{$item.name}}
        </ui-select-match>
        <ui-select-choices repeat="subAssembly in majorAssembly.subAssemblies | filter: $select.search" >
            <span ng-bind-html="subAssembly.id | highlight: $select.search"  ></span>
            <span ng-bind-html="subAssembly.name | highlight: $select.search" ></span>
        </ui-select-choices>
    </ui-select>
    {{selectedSubAssemblyList | json}}
</div>

<!--<pre>{{inspections | json}}</pre>-->
<!---->