<!--loop through all Action Items-->
<h1>Action Items</h1>

<div class="panel panel-primary" ng-repeat="majorAssembly in inspection.majorAssemblies">
    <h2>{{majorAssembly.majorAssembly.name}}</h2>
    <table class="table" ng-repeat="subAssembly in majorAssembly.subAssemblies">
        <thead>
        <tr>
            <th>{{subAssembly.subAssembly.name}}</th>
            <th>Status</th>
            <th>Issue</th>
            <th>Action</th>
            <th>Technician</th>
            <th>Time Actioned</th>
        </tr>
        </thead>
        <tbody>


            <tr ng-if="subAssembly.machineGeneralTest != null">

                    <td>Machine General</td>
                    <td>{{subAssembly.machineGeneralTest.actionItem.status}}</td>
                    <td>{{subAssembly.machineGeneralTest.actionItem.issue}}</td>
                    <td>{{subAssembly.machineGeneralTest.actionItem.action}}</td>
                    <td>{{subAssembly.machineGeneralTest.actionItem.technician.name}}</td>
                    <td>{{moment(subAssembly.machineGeneralTest.actionItem.timeActioned).format("dddd, MMMM Do YYYY,
                        h:mm:ss a")}}
                    </td>

            </tr>
            <tr ng-if="subAssembly.oilTest != null">

                    <td>Oil Test</td>
                    <td>{{subAssembly.oilTest.actionItem.status}}</td>
                    <td>{{subAssembly.oilTest.actionItem.issue}}</td>
                    <td>{{subAssembly.oilTest.actionItem.action}}</td>
                    <td>{{subAssembly.oilTest.actionItem.technician.name}}</td>
                    <td>{{moment(subAssembly.oilTest.actionItem.timeActioned).format("dddd, MMMM Do YYYY, h:mm:ss
                        a")}}
                    </td>

            </tr>
            <tr ng-if="subAssembly.wearTest != null">

                    <td>Wear Test</td>
                    <td>{{subAssembly.wearTest.actionItem.status}}</td>
                    <td>{{subAssembly.wearTest.actionItem.issue}}</td>
                    <td>{{subAssembly.wearTest.actionItem.action}}</td>
                    <td>{{subAssembly.wearTest.actionItem.technician.name}}</td>
                    <td>{{moment(subAssembly.wearTest.actionItem.timeActioned).format("dddd, MMMM Do YYYY, h:mm:ss
                        a")}}
                    </td>

            </tr>

        </tbody>

    </table>
</div>


<!-- major assembly panel -->
<div ng-app id="ng-app" class="panel panel-primary" ng-repeat="majorAssembly in inspection.majorAssemblies">
    <div class="panel-heading">
        <a href="#" ng-model="collapsed" style="color:white" ng-click="collapsed=!collapsed">
            {{majorAssembly.majorAssembly.name}}
        </a>
        <h1>{{majorAssembly.majorAssembly.name}}</h1>
    </div>

    <div ng-show="collapsed" class="panel-body">

        <!-- sub assembly panel -->
        <div ng-app id="ng-subAssemly" class="panel panel-info" ng-repeat="subAssembly in majorAssembly.subAssemblies">
            <div class="panel-heading">
                <a href="#" ng-model="collapsed" style="color:white"
                   ng-click="collapsedSubAssembly=!collapsedSubAssembly">
                    {{subAssembly.subAssembly.name}}
                </a>
            </div>


            <div ng-show="collapsedSubAssembly" class="panel-body">
                <!-- Machine General Test -->
                <div ng-if="subAssembly.machineGeneralTest != null">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Machine General Test</div>
                        <div class="panel-body">
                            <hr/>
                            <h3>Action Item</h3>
                            <!--Action Item-->
                            <table class="table">
                                <thead>
                                <th>Status</th>
                                <th>Issue</th>
                                <th>Action</th>
                                <th>Technician</th>
                                <th>Time Actioned</th>
                                </thead>
                                <tbody>
                                <td>{{subAssembly.machineGeneralTest.actionItem.status}}</td>
                                <td>{{subAssembly.machineGeneralTest.actionItem.issue}}</td>
                                <td>{{subAssembly.machineGeneralTest.actionItem.action}}</td>
                                <td>{{subAssembly.machineGeneralTest.actionItem.technician.name}}</td>
                                <td>{{moment(subAssembly.machineGeneralTest.actionItem.timeActioned).format("dddd, MMMM
                                    Do YYYY, h:mm:ss a")}}
                                </td>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- Oil Test -->
                <div ng-if="subAssembly.oilTest != null">
                    <div class="panel panel-warning">

                        <!--Oil Test Action Item-->
                        <hr/>
                        <h3>Action Item</h3>
                        <table class="table">
                            <thead>
                            <th>Status</th>
                            <th>Issue</th>
                            <th>Action</th>
                            <th>Technician</th>
                            <th>Time Actioned</th>
                            </thead>
                            <tbody>
                            <td>{{subAssembly.oilTest.actionItem.status}}</td>
                            <td>{{subAssembly.oilTest.actionItem.issue}}</td>
                            <td>{{subAssembly.oilTest.actionItem.action}}</td>
                            <td>{{subAssembly.oilTest.actionItem.technician.name}}</td>
                            <td>{{moment(subAssembly.oilTest.actionItem.timeActioned).format("dddd, MMMM Do YYYY,
                                h:mm:ss a")}}
                            </td>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>
            <!-- Wear Test -->
            <div ng-if="subAssembly.wearTest != null">
                <div class="panel panel-warning">
                    <div class="panel-heading">Wear Test</div>
                    <div class="panel-body">

                        <!-- Action Item-->
                        <h3>Action Item</h3>
                        <table class="table">
                            <thead>
                            <th>Status</th>
                            <th>Issue</th>
                            <th>Action</th>
                            <th>Technician</th>
                            <th>Time Actioned</th>
                            </thead>
                            <tbody>
                            <td>{{subAssembly.wearTest.actionItem.status}}</td>
                            <td>{{subAssembly.wearTest.actionItem.issue}}</td>
                            <td>{{subAssembly.wearTest.actionItem.action}}</td>
                            <td>{{subAssembly.wearTest.actionItem.technician.name}}</td>
                            <td>{{moment(subAssembly.wearTest.actionItem.timeActioned).format("dddd, MMMM Do YYYY,
                                h:mm:ss a")}}
                            </td>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</div>


<!--***************************************************************************************************-->


<div class="ibox">
    <div class="ibox-title">
        <h5>Graph</h5>
        <div class="ibox-tools" ibox-tools>
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>

    <!--loop through all graphs that are for oilTestGraphs-->
    <div class="ibox-content" ng-repeat="graph in oilTestGraphs">
        <div class="highchart" id="oilChart" config="graph"></div>
    </div>
</div>

<pre>{{ inspection | json }}</pre>