<div class="ibox">
    <div class="ibox-title">
        <h5>Action Items<span ng-if="loading == true"> (loading...)</span></h5>
        <div class="ibox-tools" ibox-tools>
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="text-center" ng-if="loading == true">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <div ng-if="loading == false">
            <table class="table table-bordered table-middle table-transparent">
                <thead>
                <tr>
                    <th>Sub Assembly</th>
                    <th>Test</th>
                    <th>Status</th>
                    <th>Issue</th>
                    <th>Action</th>
                    <th>Technician</th>
                    <th>Time Actioned</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat-start="majorAssembly in inspection.majorAssemblies">
                    <td class="table-header-row" colspan="7">{{ majorAssembly.majorAssembly.name }}</td>
                </tr>

                <tr ng-repeat-start="subAssembly in majorAssembly.subAssemblies"></tr>

                <tr ng-if="subAssembly.machineGeneralTest != null">
                    <td>{{ subAssembly.subAssembly.name }}</td>
                    <td>Machine General</td>
                    <td>{{ subAssembly.machineGeneralTest.actionItem.status }}</td>
                    <td>{{ subAssembly.machineGeneralTest.actionItem.issue }}</td>
                    <td>{{ subAssembly.machineGeneralTest.actionItem.action }}</td>
                    <td>{{ subAssembly.machineGeneralTest.actionItem.technician.name }}</td>
                    <td>
                        {{
                        moment(subAssembly.machineGeneralTest.actionItem.timeActioned)
                        .format("HH:mm ddd, MMM Do YYYY")
                        }}
                    </td>
                </tr>

                <tr ng-if="subAssembly.oilTest != null">
                    <td>{{ subAssembly.subAssembly.name }}</td>
                    <td>Oil</td>
                    <td>{{ subAssembly.oilTest.actionItem.status }}</td>
                    <td>{{ subAssembly.oilTest.actionItem.issue }}</td>
                    <td>{{ subAssembly.oilTest.actionItem.action }}</td>
                    <td>{{ subAssembly.oilTest.actionItem.technician.name }}</td>
                    <td>
                        {{
                        moment(subAssembly.oilTest.actionItem.timeActioned)
                        .format("HH:mm ddd, MMM Do YYYY")
                        }}
                    </td>
                </tr>

                <tr ng-if="subAssembly.wearTest != null">
                    <td>{{ subAssembly.subAssembly.name }}</td>
                    <td>Wear</td>
                    <td>{{ subAssembly.wearTest.actionItem.status }}</td>
                    <td>{{ subAssembly.wearTest.actionItem.issue }}</td>
                    <td>{{ subAssembly.wearTest.actionItem.action }}</td>
                    <td>{{ subAssembly.wearTest.actionItem.technician.name }}</td>
                    <td>
                        {{
                        moment(subAssembly.wearTest.actionItem.timeActioned)
                        .format("HH:mm ddd, MMM Do YYYY")
                        }}
                    </td>
                </tr>

                <tr ng-repeat-end></tr>
                <tr ng-repeat-end></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div ng-repeat-start="majorAssembly in inspection.majorAssemblies"></div>

<div class="ibox" ng-repeat="subAssembly in majorAssembly.subAssemblies" ng-if="subAssembly.oilTestGraphs.length > 0 || subAssembly.wearTestGraphs.length > 0">
    <div class="ibox-title">
        <h5>{{ subAssembly.subAssembly.name }}</h5>
        <div class="ibox-tools" ibox-tools>
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <div class="text-center" ng-if="loading == true">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <div ng-if="loading == false">
            <div class="row">
                <div class="col-md-6 m-b" ng-repeat="graph in subAssembly.oilTestGraphs">
                    <div class="highchart" config="graph"></div>
                </div>

                <div class="col-md-6 m-b" ng-repeat="graph in subAssembly.wearTestGraphs">
                    <div class="highchart" config="graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-repeat-end></div>