<div class="ibox">
    <div class="ibox-title">
        <h5>Schedule {{inspectionScheduleId}}<span ng-if="loading == true"> (loading...)</span></h5>
        <div class="ibox-tools">
            <button type="button" class="btn btn-xs btn-primary">
                <a ng-href="#delete" ng-click="deleteSchedule()" class="btn btn-xs btn-primary">
                    <i class="fa fa-fw fa-remove"></i>
                    Delete
                </a>
            </button>
        </div>
    </div>
    <div class="ibox-content">
        <div class="text-center" ng-if="loading == true">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <div ng-if="loading == false">
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Repeats Every</dt>
                        <dd>
                            <span ng-if="inspectionSchedule.value != null">
                                {{ inspectionSchedule.value }}
                            </span>
                            <span ng-if="inspectionSchedule.value == null">
                                Not Scheduled
                            </span>

                            <span ng-if="inspectionSchedule.period != null">
                                {{ inspectionSchedule.period }}
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>