<div class="ibox">
    <div class="ibox-title">
        <h5>Inspection<span ng-if="loading == true"> (loading...)</span></h5>
        <div class="ibox-tools">
            <button type="button" class="btn btn-xs btn-primary">
                    <a ui-sref="domainExpert-inspections-viewSchedule({ id: inspection.id })"
                       class="btn-primary">
                        <i class="fa fa-fw fa-search"></i>
                        Edit Schedule
                    </a>
            </button>
            <button type="button" class="btn btn-xs btn-primary">
                    <a ui-sref="domainExpert-inspections-addSchedule({ id: inspection.id })"
                       class="btn-primary">
                        <i class="fa fa-fw fa-plus"></i>
                        Add Schedule
                    </a>
            </button>
        </div>
    </div>
    <div class="ibox-content">
        <div class="text-center" ng-if="loading == true">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <div ng-if="loading == false">
            <div class="row">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Machine</dt>
                        <dd>{{ inspection.machine.name }}</dd>

                        <dt>Model</dt>
                        <dd>{{ inspection.machine.model.name }}</dd>

                        <dt>Technician</dt>
                        <dd>
                            <span ng-if="inspection.technician != null">
                                {{ inspection.technician.name }}
                            </span>
                            <span ng-if="inspection.technician == null">
                                Not Assigned
                            </span>
                        </dd>

                        <dt>Domain Expert</dt>
                        <dd>
                            <span ng-if="inspection.scheduler != null">
                                {{ inspection.scheduler.name }}
                            </span>
                            <span ng-if="inspection.scheduler == null">
                                Not Assigned
                            </span>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>Time Created</dt>
                        <dd>
                            <span ng-if="inspection.timeCreated != null">
                                {{ moment(inspection.timeCreated).format("HH:mm ddd, MMM Do YYYY") }}
                            </span>
                            <span ng-if="inspection.timeCreated == null">
                                Not Created
                            </span>
                        </dd>

                        <dt>Time Scheduled</dt>
                        <dd>
                            <span ng-if="inspection.timeScheduled != null">
                                {{ moment(inspection.timeScheduled).format("HH:mm ddd, MMM Do YYYY") }}
                            </span>
                            <span ng-if="inspection.timeScheduled == null">
                                No Schedule
                            </span>
                        </dd>

                        <dt>Time Started</dt>
                        <dd>
                            <span ng-if="inspection.timeStarted != null">
                                {{ moment(inspection.timeStarted).format("HH:mm ddd, MMM Do YYYY") }}
                            </span>
                            <span ng-if="inspection.timeStarted == null">
                                Not Started
                            </span>
                        </dd>

                        <dt>Time Completed</dt>
                        <dd>
                            <span ng-if="inspection.timeCompleted != null">
                                {{ moment(inspection.timeCompleted).format("HH:mm ddd, MMM Do YYYY") }}
                            </span>
                            <span ng-if="inspection.timeCompleted == null">
                                Not Completed
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Tree View<span ng-if="loading == true"> (loading...)</span></h5>
            </div>
            <div class="ibox-content">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <p><span class="text-navy">Highlighted</span> nodes have a photo or comment.</p>

                    <div js-tree="treeConfig" ng-model="treeData" tree-events-obj="treeEvents"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-7">
        <div class="ibox" ng-if="type == 'test-machineGeneral' || type == 'test-oil' || type == 'test-wear'">
            <div class="ibox-title">
                <h5>Data for {{ title }}<span ng-if="loading == true"> (loading...)</span></h5>
            </div>
            <div class="ibox-content">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <div ng-if="type == 'test-oil'">
                        <table class="table table-bordered table-middle table-transparent">
                            <thead>
                            <tr>
                                <th>Lead</th>
                                <th>Copper</th>
                                <th>Tin</th>
                                <th>Iron</th>
                                <th>pq90</th>
                                <th>Silicon</th>
                                <th>Sodium</th>
                                <th>Aluminium</th>
                                <th>Water</th>
                                <th>Viscosity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ node.lead }}</td>
                                <td>{{ node.copper }}</td>
                                <td>{{ node.tin }}</td>
                                <td>{{ node.iron }}</td>
                                <td>{{ node.pq90 }}</td>
                                <td>{{ node.silicon }}</td>
                                <td>{{ node.sodium }}</td>
                                <td>{{ node.aluminium }}</td>
                                <td>{{ node.water }}</td>
                                <td>{{ node.viscosity }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-if="type == 'test-wear'">
                        <table class="table table-bordered table-middle table-transparent">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>New</th>
                                <th>Limit</th>
                                <th>Life Lower</th>
                                <th>Life Upper</th>
                                <th>SMU</th>
                                <th>Time Tested</th>
                                <th>Unique Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ node.description }}</td>
                                <td>{{ node.new }}</td>
                                <td>{{ node.limit }}</td>
                                <td>{{ node.lifeLower }}</td>
                                <td>{{ node.lifeUpper }}</td>
                                <td>{{ node.smu }}</td>
                                <td>
                                    {{
                                    moment(node.timeStart)
                                    .format("HH:mm ddd, MMM Do YYYY")
                                    }}
                                </td>
                                <td>
                                    <div ng-repeat="(key, value) in node.uniqueDetails" class="m-b">
                                        <strong>{{ key }}:</strong>
                                        {{value}}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" ng-if="type == 'test-machineGeneral' || type == 'test-oil' || type == 'test-wear'">
            <div class="ibox-title">
                <h5>Action Item for {{ title }}<span ng-if="loading == true"> (loading...)</span></h5>
            </div>
            <div class="ibox-content">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <table class="table table-bordered table-middle table-transparent">
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Issue</th>
                            <th>Action</th>
                            <th>Time Actioned</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ node.actionItem.status }}</td>
                            <td>{{ node.actionItem.issue }}</td>
                            <td>{{ node.actionItem.action }}</td>
                            <td>
                                {{
                                moment(node.actionItem.timeActioned)
                                .format("HH:mm ddd, MMM Do YYYY")
                                }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Comments for {{ title }}<span ng-if="loading == true"> (loading...)</span></h5>
                <div class="ibox-tools">
                    <a class="btn btn-xs btn-primary" data-toggle="modal" data-target="#comments-modal">
                        <i class="fa fa-fw fa-plus"></i>
                        Add Comment
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <p ng-if="node.comments.length == 0">
                        There are currently no comments for this node.
                    </p>

                    <div class="row m-b-lg" ng-repeat="comment in node.comments">
                        <div class="col-md-2">
                            <img class="center-block img-responsive img-circle" alt="{{ comment.author.name }}"
                                 title="{{ comment.author.name }}"
                                 ng-src="https://www.gravatar.com/avatar/{{ comment.author.emailHash }}?s=100&d=mm">
                        </div>
                        <div class="col-md-10">
                            <small>
                                <strong>{{ comment.author.name }}</strong>
                                on
                                <em>
                                    {{
                                    moment(comment.timeCommented)
                                    .format("HH:mm ddd, MMM Do YYYY")
                                    }}
                                </em>
                            </small>

                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" ng-if="node.photos.length != 0">
            <div class="ibox-title">
                <h5>Photos for {{ title }}<span ng-if="loading == true"> (loading...)</span></h5>
            </div>
            <div class="ibox-content">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <div ng-repeat="photo in node.photos">
                        <a href="{{ photo.url }}?token={{ token }}" title="{{ photo.text }}" target="_blank">
                            <img class="center-block img-responsive img-thumbnail"
                                 ng-src="{{ photo.url }}?token={{ token }}">
                        </a>

                        <small>
                            <strong>{{ photo.author.name }}</strong>
                        </small>

                        <p>{{ photo.text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="comments-modal" tabindex="-1" role="dialog" aria-labelledby="comments-modal-label" my-modal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="comments-modal-label">Add Comment to {{ title }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label" for="comment">Comment</label>
                    <textarea class="form-control" rows="5" id="comment" ng-model="comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" ng-click="addComment()">
                    <i class="fa fa-fw fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>