<ul class="nav nav-tabs">
    <li role="presentation"><a ui-sref="domainExpert-machines-index">Machine List</a></li>
    <li role="presentation" class="active"><a ui-sref="domainExpert-inspections-index">Inspections</a></li>
    <li role="presentation"><a ui-sref="#">Report</a></li>
</ul>

<table class="table">
    <thead>
    <tr>
        <th>Time Created</th>
        <th>Time Scheduled</th>
        <th>Time Started</th>
        <th>Time Completed</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-if="inspection.timeCreated != null">
            {{ moment(inspection.timeCreated).format("dddd, MMMM Do YYYY, h:mm:ss a") }}
        </td>
        <td ng-if="inspection.timeCreated == null">
            Not Created
        </td>

        <td ng-if="inspection.timeScheduled != null">
            {{ moment(inspection.timeScheduled).format("dddd, MMMM Do YYYY, h:mm:ss a") }}
        </td>
        <td ng-if="inspection.timeScheduled == null">
            No Schedule
        </td>

        <td ng-if="inspection.timeStarted != null">
            {{ moment(inspection.timeStarted).format("dddd, MMMM Do YYYY, h:mm:ss a") }}
        </td>
        <td ng-if="inspection.timeStarted == null">
            Not Started
        </td>

        <td ng-if="inspection.timeCompleted != null">
            {{ moment(inspection.timeCompleted).format("dddd, MMMM Do YYYY, h:mm:ss a") }}
        </td>
        <td ng-if="inspection.timeCompleted == null">
            Not Completed
        </td>
    </tr>
    </tbody>
</table>

<h1>Inspection Comments</h1>
<div class="panel panel-success" ng-repeat="comment in inspection.comments">
    <div class="panel-heading">
        By: {{comment.author.name}}
        <div class="panel-title pull-right">
            Time Commented: {{moment(comment.timeCommented).format("dddd, MMMM Do YYYY, h:mm:ss a")}}
        </div>
    </div>
    <div class="panel-body">{{comment.text}}</div>
</div>

<h1>Major Assemblies</h1>

<div class="panel panel-primary" ng-repeat="majorAssembly in inspection.majorAssemblies">
    <div class="panel-heading">{{majorAssembly.majorAssembly.name}}</div>
    <div class="panel-body">

        <div class="panel panel-success" ng-repeat="comment in majorAssembly.comments">
            <div class="panel-heading">
                By: {{comment.author.name}}
                <div class="panel-title pull-right">
                    Time Commented: {{moment(comment.timeCommented).format("dddd, MMMM Do YYYY, h:mm:ss a")}}
                </div>
            </div>
            <div class="panel-body">{{comment.text}}</div>
        </div>

        <div class="panel panel-info" ng-repeat="subAssembly in majorAssembly.subAssemblies">
            <div class="panel-heading">{{subAssembly.subAssembly.name}}</div>
            <div class="panel-body">

                <div class="panel panel-success" ng-repeat="comment in subAssembly.comments">
                    <div class="panel-heading">
                        By: {{comment.author.name}}
                        <div class="panel-title pull-right">
                            Time Commented: {{moment(comment.timeCommented).format("dddd, MMMM Do YYYY, h:mm:ss a")}}
                        </div>
                    </div>
                    <div class="panel-body">{{comment.text}}</div>
                </div>

            </div>
        </div>

    </div>
</div>