<div class="ibox">
    <div class="ibox-title">
        <h5>Create Machine<span ng-if="loading == true"> (loading...)</span></h5>
    </div>

    <div class="ibox-content">
        <div ng-if="loading == false">
            <div class="form-group">
                <div class="row m-b-lg">
                    <div class="col-md-6">
                        <label class="control-label">Model</label>

                        <ui-select ng-model="selectedModel" theme="bootstrap" sortable="true" class="m-b-sm"
                                   on-select="setModel($item, $model)">
                            <ui-select-match placeholder="Select model...">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="model in models | filter: $select.search">
                                <span ng-bind-html="model.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-6">
                        <label for="name" class="control-label">Machine Name</label>

                        <input type="text" class="form-control" placeholder="Machine Name" id="name"
                               ng-model="machine.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>