<div class="ibox">
    <div class="ibox-content">
        <div class="text-center" ng-if="loading == true">
            <i class="fa fa-spinner fa-spin fa-3x"></i>
        </div>

        <div ng-if="loading == false">
            <table datatable="ng" class="table table-striped table-bordered table-middle" dt-options="dtOptions">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="machine in machines">
                    <td>{{ machine.name }}</td>
                    <td>{{ machine.model.name }}</td>
                    <td>
                        <a ui-sref="domainExpert-machines-view({ id: machine.id })" class="btn btn-primary btn-block">
                            <i class="fa fa-fw fa-search"></i>
                            View
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>