<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#tab-1"> Info</a></li>
        <li class=""><a data-toggle="tab" data-target="#tab-2">Assemblies</a></li>
        <li class=""><a data-toggle="tab" data-target="#tab-3">Downtime</a></li>
        <li class=""><a data-toggle="tab" data-target="#tab-4">Inspection History</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <table class="table table-bordered table-middle table-transparent">
                        <thead>
                        <tr>
                            <th>Machine Name</th>
                            <th>Model Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ machine.name }}</td>
                            <td>{{ machine.model.name }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="tab-2" class="tab-pane">
            <div class="panel-body">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <table class="table table-bordered table-middle">
                        <tbody>
                        <tr ng-repeat-start="majorAssembly in machine.model.majorAssemblies">
                            <td class="text-center table-header-row" colspan="4">{{ majorAssembly.name }}</td>
                        </tr>
                        <tr ng-repeat="subAssembly in majorAssembly.subAssemblies">
                            <td>{{ subAssembly.name }}</td>
                        </tr>
                        <tr ng-repeat-end></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="tab-3" class="tab-pane">
            <div class="panel-body">
                <button type="button" class="btn btn-xs btn-primary pull-right" data-toggle="modal"
                        data-target="#downtime-import-modal">
                    <i class="fa fa-fw fa-plus"></i>
                    Import Downtime
                </button>

                <div class="text-center" ng-if="displayGraphs == false && noGraphsAvailable == false">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="displayGraphs == true">
                    <div ng-if="displaySystemGraph == true">
                        <div class="highchart" config="systemGraph"></div>
                    </div>

                    <div ng-if="displayReasonGraph == true">
                        <div class="highchart" config="reasonGraph"></div>
                    </div>
                </div>

                <div ng-if="noGraphsAvailable == true">
                    There is no downtime graphs available!
                </div>
            </div>
        </div>

        <div id="tab-4" class="tab-pane">
            <div class="panel-body">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <table datatable="ng" class="table table-bordered table-middle" dt-options="dtOptions">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Technician</th>
                            <th>Domain Expert</th>
                            <th>Time</th>
                            <th>View / Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="inspection in machine.inspections">
                            <td>{{ inspection.id }}</td>
                            <td>{{ inspection.technician.name }}</td>
                            <td>{{ inspection.scheduler.name }}</td>
                            <td>{{ moment(inspection.timeScheduled).format("HH:mm ddd, MMM Do YYYY") }}</td>
                            <td>
                                <a ui-sref="domainExpert-inspections-view({ id: inspection.id })"
                                   class="btn btn-primary btn-block">
                                    <i class="fa fa-fw fa-search"></i>
                                    View / Edit
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="downtime-import-modal" tabindex="-1" role="dialog" aria-labelledby="downtime-import-modal-label" my-modal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="comments-modal-label">Import Downtime Data</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input type="file" id="downtimeImportFile" name="file" enctype="multipart/form-data" />
                </div>
                <div ng-if="loadingFile == false">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="systenNameField" class="control-label">System Name Field in File: </label>
                                <select name="repeatSelect" id="systenNameField" ng-model="cellNames.systemNameCell">
                                    <option ng-repeat="header in headers" value="{{header.id}}">{{header.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="downtimeHoursField" class="control-label">Down Time Hours Field in File: </label>
                                <select name="repeatSelect" id="downtimeHoursField" ng-model="cellNames.downTimeHoursCell">
                                    <option ng-repeat="header in headers" value="{{header.id}}">{{header.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="reasonField" class="control-label">Reason Field in File (Optional): </label>
                                <select name="repeatSelect" id="reasonField" ng-model="cellNames.reasonCell">
                                    <option ng-repeat="header in headers" value="{{header.id}}">{{header.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" ng-click="import()">
                    <i class="fa fa-fw fa-check"></i>
                    Import
                </button>
            </div>
        </div>
    </div>
</div>