<div class="tabs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#tab-1">Assemblies</a></li>
        <li><a data-toggle="tab" data-target="#tab-2">Machines</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <table class="table table-striped table-bordered table-middle table-transparent">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 30%;" rowspan="2">Sub
                                Assembly
                            </th>
                            <th class="text-center" style="width: 45%;" colspan="3">Tests To Be
                                Performed
                            </th>
                            <th class="text-center" style="width: 25%;" rowspan="2">
                                <a ui-sref="domainExpert-models-addMajorAssembly({ id: modelId })"
                                   class="btn btn-primary btn-block">
                                    <i class="fa fa-fw fa-plus"></i>
                                    Add Major
                                </a>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center" style="width: 15%;">Machine General</th>
                            <th class="text-center" style="width: 15%;">Oil</th>
                            <th class="text-center" style="width: 15%;">Wear</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat-start="majorAssembly in model.majorAssemblies">
                            <td class="text-center table-header-row" colspan="4">{{ majorAssembly.name }}</td>
                            <td class="table-header-row">
                                <div class="btn-group btn-group-justified">
                                    <a ui-sref="domainExpert-models-addSubAssembly({ id: modelId, majorAssemblyId: majorAssembly.id })"
                                       class="btn btn-primary">
                                        <i class="fa fa-fw fa-plus"></i>
                                        Add Sub
                                    </a>

                                    <a ui-sref="domainExpert-models-editMajorAssembly({ id: modelId, majorAssemblyId: majorAssembly.id })"
                                       class="btn btn-success">
                                        <i class="fa fa-fw fa-pencil"></i>
                                        Edit
                                    </a>

                                    <div class="btn-group">
                                        <button class="btn btn-danger" type="button"
                                                ng-click="deleteMajor(majorAssembly.id, majorAssembly.name)">
                                            <i class="fa fa-fw fa-trash-o"></i>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="subAssembly in majorAssembly.subAssemblies">
                            <td class="text-center">{{ subAssembly.name }}</td>
                            <td class="text-center">
                                <span ng-if="subAssembly.machineGeneral == true">
                                    <i class="fa fa-fw fa-check"></i>
                                </span>
                            </td>
                            <td class="text-center">
                                <span ng-if="subAssembly.oil == true">
                                    <i class="fa fa-fw fa-check"></i>
                                </span>
                            </td>
                            <td class="text-center">
                                <span ng-if="subAssembly.wear == true">
                                    <i class="fa fa-fw fa-check"></i>
                                </span>
                            </td>
                            <td>
                                <div class="btn-group btn-group-justified">
                                    <a ui-sref="domainExpert-models-editSubAssembly({ id: modelId, subAssemblyId: subAssembly.id })"
                                       class="btn btn-success">
                                        <i class="fa fa-fw fa-pencil"></i>
                                        Edit
                                    </a>

                                    <div class="btn-group">
                                        <button class="btn btn-danger" type="button"
                                                ng-click="deleteSub(subAssembly.id, subAssembly.name)">
                                            <i class="fa fa-fw fa-trash-o"></i>
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat-end></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="tab-2" class="tab-pane">
            <div class="panel-body">
                <div class="text-center" ng-if="loading == true">
                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                </div>

                <div ng-if="loading == false">
                    <table datatable="ng" class="table table-striped table-bordered table-middle"
                           dt-options="dtOptions">
                        <thead>
                        <tr>
                            <th style="width: 30%;">Name</th>
                            <th style="width: 30%;">Model</th>
                            <th style="width: 20%;">View / Edit</th>
                            <th style="width: 20%;">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="machine in model.machines">

                            <td>{{ machine.name }}</td>
                            <td>{{ machine.model.name }}</td>
                            <td>
                                <a ui-sref="domainExpert-machines-view({ id: machine.id })"
                                   class="btn btn-primary btn-block">
                                    <i class="fa fa-fw fa-search"></i>
                                    View / Edit
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-block btn-danger" type="button"
                                        ng-click="deleteMachine(machine.id, machine.name)">
                                    <i class="fa fa-fw fa-trash-o"></i>
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>