<div class="ibox">
    <div class="ibox-content">
        <div ng-if="loading == false">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name" class="control-label">Major Assembly Name</label>
                        <input type="text" class="form-control" placeholder="Major Assembly Name" id="name"
                               ng-model="majorAssembly.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>